* {
    background-color:black;
    font-family: Verdana;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: white;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

p {
    color:gray;
    font-size: 21px;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

p.copyright {
    text-align: right !important;    
}
